/* custom.css */
@white: #fff;
@slightGray: #fff;
@pink: #FCA89C;
@creamred:#F57C77;
@creamblue: #E8F0F3;
@black:#000;
@header:#A3AFC0;
@toolbar: #30373C;
@lighterblue:#E8F0F3;
@darkenblue:#9CB2C0;
@silver: silver;
@activegreen:#A6BD41;
@toolbarline: #3B454F;
@rate5: #CC0000;
@rate4: #FF9900;
@rate3: #FFFF33;
@rate2: #99CC00;
@rate1: #009999;
@rate0: #6699CC;
@widthForContactCard:348px;
@widthForContent:250px;
@sortbyHeight:40px;

.no-corners (@radius: 0px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.no-shadow {
	-webkit-box-shadow:none ;
    -moz-box-shadow:none ;
	box-shadow:none ;
}

.left-corners (@radiusHalf: 0.6em) {
	-moz-border-radius-topright: @radiusHalf;
	-webkit-border-top-right-radius: @radiusHalf;
	border-top-right-radius: @radiusHalf;
	-moz-border-radius-bottom-right: @radiusHalf;
	-webkit-border-bottom-right-radius: @radiusHalf;
	border-bottom-right-radius: @radiusHalf;
}

.toolBarDiv {
	text-align: left;
	margin:0px;
	background: @toolbar;
	border-left:1px solid @toolbar;
	border-right:1px solid @toolbar;	
}

.contentDataHeaders {
	text-align: left;
	margin-top:5px !important;
	line-height:40px !important;
	font-family:"OpenSansBold";
	color:@toolbar;
	font-size:1.1em;
}

.contentBoxDiv {
	padding:15px;
	height:600px;
	border-left:1px solid @darkenblue;
	border-right:1px solid @darkenblue;
	border-bottom:1px solid @darkenblue;
	background: @white;
}

.contentHeader {
	margin:0px;
	text-align: left;
	padding:10px 15px 10px 15px;
	color:@white;
	font-size:1.3em;
	font-family: "RobotoCondense";
}

.verylightshadow {
	-webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.left-shadow {
	-webkit-box-shadow: inset 5px 0px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 5px 0px 10px rgba(0, 0, 0, 0.3);
	box-shadow: inset 5px 0px 10px rgba(0, 0, 0, 0.3);
}

.proPage {
	background: @white !important;	
}

.onyx-toolbar{
	background:@toolbar !important;
	color:@creamblue !important;
	border:none !important;
}
.panelSlider > * {
	width: @widthForContactCard;
}

.formInput {
	padding:8px !important; 
}

.formDecoratorButton {
	color:@darkenblue !important;
}

.sortByContainerBox {
	padding-left:8px;
	padding-right:8px;
	height:@sortbyHeight;
}

.sortByContainerBox h1 {
	line-height:@sortbyHeight;
	color:@white;
	text-indent: 15px;
	font-size:1em;
	font-family: "OpenSansBold"
}

.sortByColumnLabel {
	width:100px;
	background: darken(@darkenblue,10%);
}

.sortByButton {
	width:76px;
	font-family: "OpenSansBold";	
	background: darken(@creamblue,15%);
	font-size:0.9em;
	color:@white;
	border-left:1px solid @darkenblue;
	border-top:none !important;
	border-bottom:none !important;
	border-right:none !important;
	height:@sortbyHeight;
}

.sortByButton.active {
	.verylightshadow;
	border:none;
	background: @activegreen;
}

.appInputForm {
	.no-corners; 
	padding-top:10px !important;
	border:1px solid @darkenblue;
	background:@white !important;
}

.standardContent {
	font-size:1.0em;
	width:@widthForContent;
	padding-left:10px;
	padding-right:10px;
	color: darken(@darkenblue, 5%);
	font-weight:300;
	font-family:"RobotoCondense";
}

.headerOccupation {
	text-indent:2px;
	line-height:20px;
	font-size:1.1em;
	color:lighten(@black, 75%) !important;
}

.searchingBoxControl {
	height:110px;
	border-bottom:2px solid lighten(@darkenblue,20%);
	background: @slightGray;
}

.searchableContactBox {
	border-right:3px solid @darkenblue !important;
	background: darken(@darkenblue, 5%);
}

.iconicAnchor {
	color:@creamblue !important;
	text-align: center !important;
	width:45px;
	margin-left: 0px;
	font-size:1.4em !important;
}

.whiteBg {
	margin-top:-8px;
	background: @white;
}

.businessCardBox {
	background:@white;
	position:relative;
}

.businessCardContentArea {
	height:100px;
}

.contextPopupHeader  {
	height:45px;
	background: @toolbar;
}

.contextPopupHeader h1 {
	font-family: "OpenSansBold"
}

/*
.businessCardContentArea:active:hover:not([disabled]){
	background:darken(@creamblue,15%);
}

.businessCardContentArea:active:hover:not([disabled]) .businessCardName{
	background: darken(@darkenblue,2%);
	color:@white !important;
}

.businessCardContentArea:active:hover:not([disabled]) .standardContent, 
.businessCardContentArea:active:hover:not([disabled]) .headerOccupation{
	color:@white !important;
}
*/

.businessCardBox.active .businessCardContentArea {
	background: lighten(@creamred, 10%);
	//background:darken(@creamblue,12%);
}

.businessCardBox.active .businessCardContentArea .businessCardName {
	background: darken(@creamred,5%);
	//background: darken(@darkenblue,2%);
	color:@white !important;
}

.businessCardBox.active .businessCardContentArea .standardContent, 
.businessCardBox.active .businessCardContentArea .headerOccupation{
	color:@slightGray !important;
}

.businessCardName {
	height:30px;
	width:@widthForContent;
	padding-left:10px;
	padding-right:10px;
	//background: @darkenblue;
	font-size:1.1em;
	background: lighten(@header, 25%);
	line-height:30px;
	font-family:"RobotoCondense";
	color:lighten(@black, 50%) !important;
}

.contextIcon {
	font-size:1.5em;
	color:@creamblue;
}

.contextMenuPopup {
	margin-top:-1px;
	width:210px !important;
}

.contextMenuPopup .onyx-menu-item {
	border:1px solid #eee;
	height:25px;
	font-family: "RobotoCondense";
	font-size:1.3em;
	background:#eee;
	color:#666;
	line-height: 30px !important;
	border-bottom:1px solid #bbb !important;
}

.contextMenuPopup .onyx-menu-item:hover {
	background: #9cb4c2;
	border:1px solid #9cb4c2;
	color:#fff;
}

.businessCardPhoto {
	max-width:80px;
	height:100px;
	background: @creamblue;
}

.contentContainerBox {
	padding:15px;
	background: @lighterblue !important;
}

.contextButton {
	text-align: center !important;
	width:45px;
	height:45px;
	padding:0px !important;
	background: @toolbar;
	margin:0px !important;
	border-right:none;
	border-top:none;
	border-bottom:none;
	border-left:1px solid @toolbarline !important;
}

.contextButton .active {
	background: @creamred !important;
}

.cardHolder {
	height:100px;
	background:@white;
	border-bottom:1px solid @creamblue; 
}

h1.headerTextTitle {
	font-family: 'OpenSansBold';
	line-height:25px !important;
	color:@creamblue !important;
}

.headerButton {
	text-transform: uppercase;
	text-shadow:none;
	//font-family: 'RobotoCondense' !important;
	background: @creamred !important;
	font-size:1.6em;
	border:6px solid @toolbar !important;
}

.contextPopupHeader button {
	text-transform: uppercase;
	//font-family: 'RobotoCondense' !important;
	background: @creamred !important;
	font-size:1.5em;
	font-family: "RobotoCondense";
	height:45px !important;
	border:6px solid @toolbar !important;	
}

.rate0 {
	.left-corners;
	.left-shadow;
	background:@rate0;
}

.rate1 {
	.left-corners;
	.left-shadow;
	background:@rate1;
}

.rate2 {
	.left-corners;
	.left-shadow;
	background:@rate2;
}

.rate3 {
	.left-corners;
	.left-shadow;
	background:@rate3;
}

.rate4 {
	.left-corners;
	.left-shadow;
	background:@rate4;
}	

.rate5 {
	.left-corners;
	.left-shadow;
	background:@rate5;
}

.rate0picker {
	background:@rate0;
}

.rate1picker {
	background:@rate1;
}

.rate2picker {
	background:@rate2;
}

.rate3picker {
	background:@rate3;
}

.rate4picker {
	background:@rate4;
}	

.rate5picker {
	background:@rate5;
}

.headerButton:active:hover:not([disabled]){
	color:ligten(@pink,20%) !important;
	background: darken(@creamred, 10%) !important; 
}

.seperatorBarDiv {
	font-family: "OpenSansBold";
	color:@white;
	margin-top:15px;
	padding:5px 10px 5px 10px;
	background: darken(@darkenblue,10%);
}

.seperatorBarDiv h1{
	font-family: "RobotoCondense";
	margin:0px !important;
	font-size:1.2em;
}

.emptyContent {
	color: lighten(@darkenblue,15%);
}

h1.emptyContent {
	font-family: "OpenSansBold";
	margin:0px !important;
	font-size:1.0em;
	text-transform: uppercase;
	color: lighten(@darkenblue,15%);
}

.contentBarDiv {
	background:@white;
	color:lighten(@black,50%);
	font-family: "OpenSansBold";
	margin:0px;
	//padding:15px 10px 15px 10px;
	font-size:1.1em;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.ratingCaptionDiv {
	width:160px;
	text-indent:10px;
	line-height: 40px;
	color:lighten(@black,50%);
	font-family: "OpenSansBold";
	font-size:1.1em;
	color:@white;
	background: darken(@darkenblue,10%);
}

.ratingCellDiv {
	margin:0px;
	width:65px;
	.no-corners;
	.no-shadow;
	border-left:@toolbarline;
	border-right:none;
	border-top:none;
	border-bottom:none;
	height:40px;
}

.ratingCellDiv .rate0 {
	.rate0;
}

.ratingCellDiv .rate1 {
	.rate1;
}

.ratingCellDiv .rate2 {
	.rate2;
}

.ratingCellDiv .rate3 {
	.rate3;
}

.ratingCellDiv .rate4 {
	.rate4;
}

.ratingCellDiv .rate5 {
	.rate5;
}

.ratingCellDiv.rate0.active{
	.left-shadow;
}

.ratingCellDiv.rate1.active{
	.left-shadow;
}

.ratingCellDiv.rate2.active{
	.left-shadow;
}

.ratingCellDiv.rate3.active{
	.left-shadow;
}

.ratingCellDiv.rate4.active{
	.left-shadow;
}

.ratingCellDiv.rate5.active{
	.left-shadow;
}



.ratingSelector {
	height:50px;
	// margin-top:15px;
}

.pickerButton {
	font-family: "RobotoCondense";
	line-height:18px !important;
	font-size: 1.2em;
	margin-top:0px !important;
}

.ratingSelector .labels {
	width:160px;
	font-family: "RobotoCondense";
	font-size:1.1em;
	color:@white;
	height:50px;
	text-indent:10px;
	line-height: 48px;
	background: darken(@darkenblue,10%);
}

.ratingSelector .data {
	margin:0px !important;
}

.stdPickerMenu {
	margin-top:0px !important;
}

.stdPickerMenu .onyx-menu-item.selected {
	color:#fff !important;
	font-family: "RobotoCondense";
	font-size:1.2em;
	background: @creamred !important;	
}

.stdPickerMenu .onyx-menu-item{
	font-family: "RobotoCondense";
	text-align: left !important;
	font-weight: bold;
	font-size:1.2em;
	background: @white;
	border:1px solid #ccc !important;
	color:#333 !important;
	line-height:32px !important;
	height:28px !important;
}

.stdPickerMenu .onyx-menu-item:hover{
	color:#fff !important;
	font-family: "RobotoCondense";
	.no-shadow;
	background: darken(@creamblue, 10%) !important;
}

.contentBarDiv .labels {
	padding:10px 10px 10px 10px;
	color:@white;
	background: lighten(@darkenblue,15%);
	font-family:"RobotoCondense";
	font-size:1.1em;
	width:160px;
	height:45px;
}

.contentBarDiv .labels.address {
	height:70px;
}

.contentBarDiv .data {
	padding:10px 10px 10px 10px;
	font-family:"RobotoCondense";
	font-size:1em;
	width:454px;
}

//CHAT BUBBLE//
.twitterBubble {
	position:relative;
	padding:18px;
	margin:25px 15px;
	color:@toolbar;
	width:475px;
	background:#eee;
	text-align:left;
	font-size: 1.1em;
	font-family:"RobotoCondense";
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* creates the triangle */
.twitterBubble:after {
	content:"";
	position:absolute;
	top:5px;
	left:-15px;
	border:15px solid transparent;
	border-bottom-color:#eee;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}