@charset 'UTF-8';
@import "buttons.css";

body { font-family: 'Georgia', 'Helvetica', Arial, sans-serif !important;background: #0a1d3b; }
@font-face { font-family: 'HandOfSean';src: url('../css/go/font/HandOfSeanDemo.ttf') format('truetype')}
.seanFont { font-family:'HandOfSean';font-size:0.86em; }
.standardHeader {font-family:Arial,'Helvetica';font-size:1em; font-weight: bold}
.standardSeanH1 { font-family:'HandOfSean';font-size:1.5em;position: absolute;top:190px;left:340px;font-weight:normal; }
.standardSeanH2 { font-family:'HandOfSean';font-size:1.6em;font-weight:normal; }
.standardSeanH3 { font-family:'Arial';font-size:1.0em;font-weight:bold;margin-bottom:8px;margin-top:10px; width:310px; }
.textAreaP1 {top:242px;left:338px;position: absolute;width:585px;height:120px;font-size:0.95em;font-weight:500;text-align:justify;}
.textAreaP2 {top:388px;left:338px;position: absolute;width:252px;height:276px;font-size:0.95em;font-weight:500;text-align:justify;}
.onyx-scrim {opacity:0.4 !important;}
.boxBg {width:380px !important;margin-right:10px;}
.textureBg {padding:20px;background:url("../img/photoFrame.jpg");-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);background-position:top center;width:380px !important;margin-right:10px;height:170px !important;border:1px solid #ccc;}
.h5Content {font-size:0.9em;font-family: "Arial";width:240px;line-height:40px !important;text-indent: 10px;}
.smallIcon {background:url("../img/hlaLogo.png");background-size:44px 51px;background-position:top center;width:44px !important;height:51px !important;margin-left:15px !important;margin-right:15px !important;margin-top:-10px !important; }
.whiteBg{background:#ddd;}
.emptyBg{background:url("../img/appHLABgEmpty.jpg");background-position:top center;background-size:1024px 768px;background-color:#676562 !important;}
.mainBg{background:url("../img/appHLABg.jpg");background-position:top center;background-size:1024px 768px;background-color:#676562 !important;}
.dashboardBg{background:url("../img/menu-bg.png") no-repeat;background-position:top center;background-size:1024px 748px;}
.iosFlickerFix{-webkit-perspective: 1000 !important;-webkit-backface-visibility: hidden !important;-webkit-transform:translateZ(0) !important; }
.selectorBg{width:100%;background-color:#f2f2f2}
.parallax {height:415px;}
.popUpMenu {margin-top:56px !important;font-weight:600;width:110px;min-height:41px !important;max-height:210px !important;}
.toUpperCase{font-size:0.9em !important;text-transform: uppercase;}
.panelSlider > * {width: 300px;}
.panelSliderButton { width:86%;font-size:1.5em;color:#c82c30}
.drugType { font-size:0.7em !important;}
.headerTextTitle { line-height:32px;font-size:1em !important;}
.customPanelSlider > * {width: 305px;min-width:60px !important;}
.parallax {
	background-color:#2a62ad;
	height:415px;
}
.scrollMenu {
	background-color:#0a1d3b;
	height:308px;
}
.onyx-toolbar{background:#fff !important;color:#000 !important;border:none !important;margin:0px !important;}
.pnCell {width:25% !important;max-width:25% !important; padding:5px;font-weight:bold;}
h1.pnCell {font-size:1em !important;line-height:50px;}
.pnCellOfFive{width:1002px;height:56px;margin-top:5px;margin-bottom:0px;}
.grayStripe h1.pnCell {line-height: 24px !important;}
h1.standardH1 { color:#333;font-size:1.2em;line-height:30px;margin-top:0px;margin-bottom:0px;}
h2.standardH2 { color:#333;font-size:1em;line-height:20px;margin-top:0px;margin-bottom:0px;}
h2.appForms { color:#999;font-size:1em;line-height:42px;margin-top:0px;margin-bottom:0px; padding:4px 15px 4px 15px;width:250px;text-align: right;border-right:1px solid #ccc; }
h2.appFormMid { color:#999;font-size:1em;line-height:42px;margin-top:0px;margin-bottom:0px; padding:4px 15px 4px 15px;width:160px;border:1px solid #ccc; border-bottom:none;border-left:none;text-align: right }
.appFormDeco { border:1px solid #ccc; border-bottom:none;border-left:none; background:#fff !important;}
.appFormDeco.last { border-bottom:1px solid #ccc;}
.formInputDateTime {height:50px;padding:0px;margin:0px;}
.sgaFormGap{padding-top:2px;padding-bottom:2px;padding-left:15px;}
.headerTail {width:150px;padding-top:12px !important;padding-left:10px;padding-right:10px;}
.longerInput .formInput {width:319px !important;}
.longerInput .formSmallInputDecorator{width:319px !important;}
.btnCheckBox {background: none !important;border:none !important;}
.pn1stCell {width:166px !important;}
.pn2ndCell {width:236px !important;}
.iconControl {font-size:3em !important;color:#cc3333;text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3) !important;}
.tagNoteSelected{font-size:3em !important;color:#666666 !important;}
.tagNote {width:50px;height:50px;position:absolute};
.pnOtherCell {width:200px !important;}
.grayStripe h1.PNLabel {padding-top:0px !important;font-size:1em !important;}
h1.PNLabel{padding-top:15px !important;font-size:1em !important;}
.normal5Grid{text-align:right;width:100px;font-size:0.95em !important;padding-left:5px !important;padding-right:5px !important; padding-top:12px !important;}
.dateControlTab {background: #adc9e1;}
.CDRHeaderSection{padding:10px;color:#fff;font-weight: bold;font-size:0.85em;border-bottom:1px solid black;background-image:-webkit-gradient(linear, left top, left bottom, from(#444444), to(#000000)) !important;background-image:-webkit-linear-gradient(#444444, #000000) !important;background-image:-moz-linear-gradient(#444444, #000000) !important;background-image:-ms-linear-gradient(#444444, #000000) !important;background-image:-o-linear-gradient(#444444, #000000) !important;background-image:linear-gradient(#444444, #000000) !important;}
.paddingTopDown10px {padding-top:10px !important;padding-bottom:10px !important;}
.paddingTop15px {padding-top:15px !important;}
.paddingBottom15px {padding-bottom: 15px !important;}
.guideLineBox {border:1px solid #ccc; padding:10px; background:#ffffff !important;font-weight:bold;font-size:0.9em}
.calculatorTab {background:#92b0cb; }
.secondaryBarTab {height:40px;background: #adc9e1;-webkit-box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.1);box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.1);}
.blueRibbon { background:#D7E7F6;padding:10px !important;}
.blueRibbon h1 { color:#000; font-weight: normal;font-size:0.9em; }
.blueRibbon h2 { color:#777; font-weight: bold;font-size:0.9em;text-indent:5px; }
.smallNote { font-size:0.9em;margin-top:0px;margin-bottom:5px;color:#888; }
.whiteboardBg { background:url("../img/toyotaExterior.png") no-repeat; background-size:576px 334px;}
.secondaryBarTab button {
	color: #84a5c4;
	font-weight: bold;
	text-align: center;
	border:none !important;
	width:50%;
	height:40px;
	background: none !important;
}
.searchPNFormBox .appInputForm {
	padding:9px !important;
	height:45px !important;
}

.searchPNFormBox .formInputDateTime {
	height:68px !important;
}

.searchBox .appInputForm {
	background:#c72c30 !important;
	border-radius:0em !important;
}

.searchBox .appInputForm input{
	background:#c72c30 !important;
	color:#fff;
	font-weight: bold;
}

.appFormDeco .appInputForm {
	background: #fff !important;
}

.whiteForm button{
	margin-top:0px !important;
	color:#666 !important;
	background: #fff !important;
	border:1px solid #ccc !important;
	border-left:none !important;
	border-bottom:none !important;
	line-height: 25px !important;
}

.whiteForm.last button {
	border-bottom:1px solid #ccc !important;
}


.whiteForm.appInputForm{
	background: #fff !important;
	border:1px solid #ccc !important;
}

.whiteForm textarea {
	height:90px;
	background: #fff !important;
}

.whiteForm textarea::-webkit-input-placeholder {
	color: #ccc !important;
	font-weight: 600;
	font-style:italic;
}
.whiteForm textarea::-moz-input-placeholder {
	color: #ccc !important;
	font-weight: 600;
	font-style:italic;
}

.whiteForm textarea:-ms-input-placeholder {
	color: #ccc !important;
	font-style:italic;
}


.searchBox .errorDecorator input:-ms-input-placeholder,.errorDecorator textarea:-ms-input-placeholder {
  color: pink;
 }

.searchBox input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #e38083 !important;
	font-weight: 600;
	font-style:italic;
}
.searchBox input::-moz-input-placeholder,textarea::-moz-input-placeholder {
	color: #e38083 !important;
	font-weight: 600;
	font-style:italic;
}

.searchBox input:-ms-input-placeholder {
	color: #e38083 !important;
	font-style:italic;
}

.searchPNFormBox .appInputFormDateTime input {
	height:45px !important;	
}

.cdrRegimenSearchForm .pickerButton {
	padding-top:10px !important;
	padding-bottom:8px !important;
}

.cdrRegimenSearchForm .appInputFormDateTime input {
	height:45px !important;	
}

.cdrRegimenSearchForm .appInputForm  {
	height:45px !important;	
	padding-top:10px !important;
}

.secondaryBarTab button:active:hover {
	color: #fff;
	background: #84a5c4 !important;
	-webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
	border-right:1px solid #333 !important;
	border-left:1px solid #333 !important;
}

.secondaryBarTab button.active{
	color: #fff;
	background: #84a5c4 !important;
	border-right:1px solid #84a5c4 !important;
	border-left:1px solid #84a5c4 !important;
	-webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.marSmallHeaders { font-weight: bold; font-size:0.95em;color:#000;padding-top:10px !important;}
.noBold { font-weight: normal !important };

.rxNo{color:#333 !important;font-size:0.75em;}
.grayStripe.alternate {background:none !important}
.grayStripe.alternate h1.PNLabel {color:#777;} 
.grayStripe {background:#9b9c9b;padding-top:2px;padding-bottom:2px;}
.grayStripe h1 {line-height: 35px !important;font-size:0.9em;color:#ffffff;}
.grayStripe .seperator { width:168px; }
.redIndicator {
	margin:5px;
	text-align: center;
	width:360px;
	font-weight: bold;
	font-size:1.2em;
	padding:12px;
	background:#CC0000;
}

.PNDescriptionHeader {
	font-size: 1em;
	font-weight: bold;
	margin:0px;
	text-align: right;
	width:168px;
	padding:5px;
	color:#666;
}

.PNPaddingCorner {
	padding-left:15px;
	padding-right:15px;	
}

.paperTab.default{background:none;border-bottom:5px solid #206bb2;border-left:none;border-right:none;border-top:none;}
.paperTab{background:#ffffff;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:5px solid #206bb2;}
.paperTab.current{border-bottom:5px solid #4DB5AE !important;}

.closePopup {
	-moz-border-radius: 0.6em !important;
	-webkit-border-radius: 0.6em !important;
	border-radius: 0.6em !important;
	background: #ffffff !important;
	color:#777;
	padding:10px !important;
}

.closePopup h1{
	font-size:1em;
	margin:0px;
}

h1.formulaTitle{
	padding:5px !important;
	line-height: 45px !important;
	font-size:1em !important;
	margin:0px;
	color:#333;
}

.popupSmallScrollerContent {
	height:100px !important;
	background: #ffffff !important;
	color:#777;
}

.popupScrollerContent {
	height:548px !important;
	background: #ffffff !important;
	padding:0px;
	color:#777;
}

.popupScrollerContent p,
.popupScrollerContent h1,
.popupScrollerContent h2,
.popupScrollerContent h3, 
.popupScrollerContent h4,
.popupScrollerContent h5,  
.popupScrollerContent div {
	color:#777;
	font-size:1.0em;	
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.selectPatient {
	background:url("../img/patient-empty-data.png") no-repeat !important;
	background-color:#c5d3dc !important;
	background-position:center !important;
	background-size:430px 297px !important;
}

.selectDrug  {
	background:url("../img/drug-empty-data.png") no-repeat !important;
	background-color:#c5d3dc !important;
	background-position:center !important;
	background-size:430px 297px !important;
}

.noRecord h1{
	background: #ffffff !important;
	border-bottom: 1px solid #ccc !important;
	margin:0px;
	padding:15px !important;
	color:#999;
	font-size:1em !important;
	font-style: italic;
}

.alertButtonOK {
	-moz-border-radius: 0em !important;
	-webkit-border-radius: 0em !important;
	border-radius: 0em !important;
	border: 2px solid #333 !important;
	background: #333 !important;
	font-weight: bold !important;
	color:#fff !important;
	text-shadow: 0px -2px 2px rgba(0,0,0,.3) !important;
}

.goAlert {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff ), to( #ddd )) !important; 
	background-image: -webkit-linear-gradient( #fff , #ddd ) !important;  
	background-image:    -moz-linear-gradient( #fff , #ddd ) !important;  
	background-image:     -ms-linear-gradient( #fff , #ddd ) !important; 
	background-image:      -o-linear-gradient( #fff , #ddd ) !important;  
	background-image:         linear-gradient( #fff , #ddd ) !important;
	color:#1C6664 !important;
	border:2px solid #eee;
}

.goAlert .alertContent {
	background: none !important;
	color:#777 !important;
}

.alertButtonCancel {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd ), to( #999 )) !important; 
	background-image: -webkit-linear-gradient( #ddd , #999 ) !important;  
	background-image:    -moz-linear-gradient( #ddd , #999 ) !important;  
	background-image:     -ms-linear-gradient( #ddd , #999 ) !important; 
	background-image:      -o-linear-gradient( #ddd , #999 ) !important;  
	background-image:         linear-gradient( #ddd , #999 ) !important;
	font-weight: bold !important;
	color:#fff !important;
	text-shadow: 0px -2px 2px rgba(0,0,0,.3) !important;
}

.alertButtonOK:active:hover:not([disabled]){
	color:#FFF !important;
	text-shadow: none !important;

}

.alertButtonCancel:active:hover:not([disabled]){
	background-image: -webkit-gradient(linear, left top, left bottom, from( #999 ), to( #ddd )) !important; 
	background-image: -webkit-linear-gradient( #999 , #ddd ) !important;  
	background-image:    -moz-linear-gradient( #999 , #ddd ) !important;  
	background-image:     -ms-linear-gradient( #999 , #ddd ) !important; 
	background-image:      -o-linear-gradient( #999 , #ddd ) !important;  
	background-image:         linear-gradient( #999 , #ddd ) !important;
	text-shadow:none !important;
	color:#fff !important;
}

.swipeArea {
	/*background: #9cb4c2 !important;*/
	width:300px;
}

.defaultSpinner {
	padding:22px;
	background: #fff !important;
	color:#777 !important;
	border:none !important;	
	border-bottom:2px solid #ccc !important;
	width:100%;
	-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
	margin:0px !important;
}

.defaultSpinner h1{
	font-size:1.1em !important;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:18px;
	margin-right:15px;
	color:#777 !important;
}

.popupContentTextarea {
	background: #fff;
}

.roundedCorner button {
	-moz-border-radius:0.6em !important;
	-webkit-border-radius:0.6em !important;
	border-radius:0.6em !important;
	border:1px solid #ccc !important;
}

.stickyLoader {
	text-align: center;
	padding:8px;
	width:100%;
	border:none !important;
	background: #fff;
}

.stickyLoader:active:hover:not([disabled]){
	background: #73CCCA;
}

.stickyLoader:active:hover:not([disabled]) h1 {
	color:#ffffff !important;
}

.stickyLoader h1.stickyLoaderTxt {
	font-size:1.1em !important;
	margin-top:0px !important;
	text-align: left !important;
	margin-bottom:0px;
	margin-left:5px;
	margin-right:15px;
 	/*
	padding-left:0px !important;
	padding-right:0px !important;
	*/
	padding:5px !important;
	color:#777 !important;	
}

.stickyLoader i {
	margin-left:5px;
	margin-right:5px;
	font-size:1.1em !important;
	color:#777 !important;
}

.footerBox {
	max-width:255px !important;
	width:220px !important;
	border-right:1px solid #555 !important;
	padding-top:2px !important;
	margin-left:2px !important;
	margin-right:0px !important;
}

.detailTaper {
	font-weight: 500;
	font-size:0.96em;
}

.footerBox h1.footerTxt {
	padding-top:12px !important;
	padding-bottom:10px !important;
	width:175px !important;
	margin-bottom:0px !important;
	font-size:0.7em;
}

.formLabelTitle {
	padding-top:11px !important;
	margin-right:10px !important;
	padding-bottom: 10px;
	line-height: 35px !important;
	width:168px;
	font-size:0.97em !important;
	color:#000;	
}

.smallLabelTitle {
	padding-top:11px !important;
	padding-bottom: 10px;
	line-height: 35px !important;
	font-size:0.97em !important;
	color:#000;	
}

.formLabelTitle.collapse {
	line-height: 25px !important;
}


.formLabelTitleSmaller {
	font-size:0.97em !important;
	padding-top:11px !important;
	margin-right:10px !important;
	padding-bottom: 10px;
	line-height: 32px !important;
	width:145px;
	color:#000;
}

.gridRepeaterItem {
	background:#ffffff;
	text-align: left !important;
	color:#777;
	font-size:1.0em;
	font-weight: bold;
	border-bottom:1px solid #ddd;
}

.gridRepeaterItemCell {
	border-right:1px solid #ccc !important;
	height:105px !important;
}

.gridRepeaterItemCell.timeRelated:active:hover:not([disabled]){
	background: #73CCCA;	
}

.gridRepeaterItemCell.timeRelated.disabled:active:hover:not([disabled]){
	background: #fff !important;	
}

.gridRepeaterItemRemarkCell {
	font-size:0.85em !important;
	background:#fbfadf;
	font-weight:500;
}

h1.stdEmptyRecordH1 {
	padding:8px;
	color:#777;
	text-align: center;
	font-style:italic !important;
}

.stdRepeaterItem {
	background:#ffffff;
	padding:10px;
	text-align: left !important;
	color:#777;
	font-size:1.0em;
	font-weight: bold;
	border-bottom:1px solid #ddd;
}

.stdRepeaterItem:active:hover:not([disabled]){
	color:#fff !important;
	background: #9ddbd9 !important;
}

.stdPickerMenu .onyx-menu-item.selected {
	color:#fff !important;
	background: #c72c30 !important;	
}

.stdPickerMenu .onyx-menu-item{
	text-align: left !important;
	font-weight: bold;
	background: #a52025;
	border:1px solid #c5353b !important;
	color:#fff !important;
	line-height:32px !important;
	height:28px !important;
}

.stdPickerMenu .onyx-menu-item:hover{
	color:#333 !important;
	background: #f2f2f2 !important;
}

.verySmallPicker {
	margin-left:3px;
	width:116px !important;
}

.formLabels {
	text-indent:5px !important;
	font-weight: bold !important;
}

.formInputLabel {
	min-width:180px !important;
	
}

.formInputLabel .appInputForm {
	width:116px ;
	padding-left:8px !important;
	padding-right:8px !important;
	text-align:center;
}

.formInputLabel .appInputForm .smallInput {
	width:98% !important;
	margin-top:2px;
	font-size:1em !important;
	background:transparent !important
}

.formSmallInputDecorator {
	width:150px !important;
}

.formInputLabel h1 {
	font-size: 0.9em;
	margin:0px;
	padding-left:5px;
	padding-right:5px;
	padding-top:19px;
	color:#000;
}

.trayInputForm .appInputForm { width:100% !important; }
.trayRepeaterItem {
	margin:10px;
	padding:10px;
	border:1px solid #ccc;
	min-height:50px;
	background: #fff !important;
 }
 
.trayRepeaterItem:active:hover:not([disabled]){
 	background: #eee !important;
}

.trayRepeaterItem h1 {
	font-size:0.9em;
	font-weight: 600;
	margin-top:5px;
	margin-bottom:5px;
	text-align: left !important;
}
.trayRepeaterItem h2 {
	font-size:0.9em;
	margin-top:5px;
	margin-bottom:5px;
	font-weight: 500;
	text-align: right !important;
	color:#5c7387 !important;	
}

.configForm {
	height:40px !important;
}

.configForm h1 {
	margin:0px !important;
	padding:5px 15px 5px 15px !important;
	font-size:1em;
	line-height: 30px !important;
	background:#f2f2f2;
	width:150px;
}

.configForm .appInputForm {
	-moz-box-shadow:    none !important;
    -webkit-box-shadow: none !important;
    box-shadow:         none !important;
    border:none !important;
    padding-top:5px !important;
	height:38px !important;
	width:100%;
}

.configForm .appInputForm input {
	padding-top:2px !important;
	color:#000;

}

.appInputFormDateTime {
	border:none !important;
	margin:0px !important;
	padding:0px !important;
	height:56px !important;
}

.appInputFormDateTime input {
	width:100%;
	padding:8px !important;
	height:56px !important;
	color:#000;
	font-weight: bold;
}

.contextPopupHeader h1 {
	font-size:1.1em;
	margin-top:5px !important;
	margin-bottom:5px !important;
	padding-top:8px !important;
	text-align: center;
}

.popupWindow {
	width:300px !important;
}

.popupWindow .contextPopupHeader {
  	color:#fff !important;
	height:40px !important;
}

.popupWindow h1 {
	font-size:1em;
	margin:0px;
}

.popupContentTextarea {
	margin-top:5px;
	-moz-border-radius: 0.6em !important;
	-webkit-border-radius: 0.6em !important;
	border-radius: 0.6em !important;
	height:100px;
	border:1px solid #ccc;
	padding:8px;
}
.popupContentTextarea textarea {
	border:none !important;
	width:98%;
	height:95px;
}

.popupWindow .onyx-contextual-popup-scroller {
	background:#c5d3dc !important;
	color:#777 !important;
	padding:4px !important;
	-moz-border-radius: 0.6em !important;
	-webkit-border-radius: 0.6em !important;
	border-radius: 0.6em !important;
	overflow: hidden !important;
	min-height:150px;
}

.buttonPopupWindow {
	width:300px !important;
}

.buttonPopupWindow .contextPopupHeader {
  	color:#fff !important;
	height:40px !important;
}

.buttonPopupWindow .onyx-contextual-popup-scroller {
	background:#ffffff !important;
	color:#777 !important;
	padding:4px !important;
	-moz-border-radius: 0.6em !important;
	-webkit-border-radius: 0.6em !important;
	border-radius: 0.6em !important;
	overflow: hidden !important;
	min-height:25px !important;
}

.stdStartMenu {
	width:220px !important;
	margin-bottom:0px;
	left:-8px !important;
	-moz-border-radius: 0em !important;
	-webkit-border-radius: 0em !important;
	border-radius: 0em !important;
	background: #f2f2f2 !important;
	color:#333 !important;
	font-weight: bold;
}

.onyx-menu {
	padding:0px !important;
	background: transparent;
}

.stdStartMenu .onyx-menu-item {
	height:20px !important;
	padding:15px !important;
	background-color:#fff !important;
	border-bottom: 1px solid #777;
}

.stdStartMenu .onyx-menu-item:hover{	
	color:#fff !important;
	background-color: #d5d5d5 !important;
}

.stdStartButton {
	height:45px !important;
	width: 48px !important;
	-moz-border-radius: 0em !important;
	-webkit-border-radius: 0em !important;
	border-radius: 0em !important;
	border:none !important;
	box-shadow: none !important;
	padding:0px !important;
	margin:0px !important;
	border-right: 1px solid #555 !important;
}

.stdStartButton button {
	width:45px !important;
	height:45px !important;
	border: none !important;
	box-shadow: none !important;
}

.stdStartButton button:hover:active {
	background: #333 !important;
	-moz-border-radius: 0em !important;
	-webkit-border-radius: 0em !important;
	border-radius: 0em !important;
}

.startIcon {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 960px 80px !important;
	width:40px !important;
	height:40px !important;	
	background-position: -520px 0px !important;
	margin-left:0px !important;
}

.doctorIcon {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 960px 80px !important;
	width:40px !important;
	height:38px !important;	
	background-position: -560px 0px !important;
	margin-left:0px !important;
	margin-top:3px !important;	
}

.timeIcon {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 960px 80px !important;
	width:40px !important;
	height:38px !important;	
	background-position: -640px 0px !important;
	margin-left:0px !important;
	margin-top:3px !important;	
}

.deptIcon {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 960px 80px !important;
	vertical-align: middle !important;
	width:40px !important;
	height:38px !important;	
	background-position: -600px 0px !important;
	margin-left:0px !important;
	margin-top:3px !important;	
	top:25px !important;
}

.padding8px {
	padding-top:5px !important;
	padding-left:8px !important;
	padding-right:8px !important;
	padding-bottom:5px !important;
}

.padding15px {
	padding-top:5px !important;
	padding-left:15px !important;
	padding-right:15px !important;
	padding-bottom:5px !important;
}

.dividerHeader {
	background:#000 !important;
	color:#fff !important;
	border-right:none !important;
}

.dividerHeader h1 {
	margin:0px !important;
	font-size:0.9em !important;
	padding:8px !important;
	text-transform: uppercase;
}

.scrollListBg {
	background:#eee !important;
	border-right:5px solid #a0d3d1 !important;	
}

.patientHeader {
	background-color:#ffffff !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff ), to( #eeeeee )) !important; 
	background-image: -webkit-linear-gradient( #ffffff , #eeeeee ) !important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff , #eeeeee ) !important; /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff , #eeeeee ) !important; /* IE10 */
	background-image:      -o-linear-gradient( #ffffff , #eeeeee ) !important; /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff , #eeeeee ) !important;
	border:1px solid #aaa !important;
	min-height:130px !important;
	height:130px !important;
}

.patientHeader.innerPadding {
	padding:10px !important;
}

.patientHeader .patientInfo {
	padding-top:0px !important;
	padding-left:8px !important;
	padding-right:8px !important;
	padding-bottom:8px !important;
}

.patientHeader .patientInfo h1 {
	margin-top:0px !important;
	margin-bottom:3px !important;
	font-size:0.95em !important;
	text-transform: uppercase !important;
}

.patientHeader .btnAllergy button{
	font-weight:bold;
	width:65px !important;
	height:30px !important;
	padding:3px !important;
	color:#fff !important;
	font-size:0.8em !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3d78b9 ), to( #15569d )) !important; 
	background-image: -webkit-linear-gradient( #3d78b9 , #15569d ) !important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #3d78b9 , #15569d ) !important; /* FF3.6 */
	background-image:     -ms-linear-gradient( #3d78b9 , #15569d ) !important; /* IE10 */
	background-image:      -o-linear-gradient( #3d78b9 , #15569d ) !important; /* Opera 11.10+ */
	background-image:         linear-gradient( #3d78b9 , #15569d ) !important;
}

.patientHeader .btnAllergy button:disabled{
	background: #ccc !important;
}	


.patientHeader .btnADR button{
	font-weight:bold;
	width:60px !important;
	height:30px !important;
	padding:3px !important;
	margin-left:12px !important;
	margin-right:12px !important;
	color:#fff !important;
	font-size:0.8em !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3d78b9 ), to( #15569d )) !important; 
	background-image: -webkit-linear-gradient( #3d78b9 , #15569d ) !important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #3d78b9 , #15569d ) !important; /* FF3.6 */
	background-image:     -ms-linear-gradient( #3d78b9 , #15569d ) !important; /* IE10 */
	background-image:      -o-linear-gradient( #3d78b9 , #15569d ) !important; /* Opera 11.10+ */
	background-image:         linear-gradient( #3d78b9 , #15569d ) !important;
}

.patientHeader .btnADR button:disabled{
	background: #ccc !important;
}	

.patientHeader .btnDiagnosis button{
	font-weight:bold;
	width:85px !important;
	height:30px !important;
	padding:3px !important;
	color:#fff !important;
	font-size:0.8em !important;
	margin-right:0px !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3d78b9 ), to( #15569d )) !important; 
	background-image: -webkit-linear-gradient( #3d78b9 , #15569d ) !important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #3d78b9 , #15569d ) !important; /* FF3.6 */
	background-image:     -ms-linear-gradient( #3d78b9 , #15569d ) !important; /* IE10 */
	background-image:      -o-linear-gradient( #3d78b9 , #15569d ) !important; /* Opera 11.10+ */
	background-image:         linear-gradient( #3d78b9 , #15569d ) !important;

}

.patientHeader .btnDiagnosis button:disabled{
	background: #ccc !important;
}	

.btnADR .badge {
	top:-9px;
	left:58px !important;
	z-index:1;
}

.btnAllergy .badge {
	top:-9px;
	left:50px !important;
	z-index:1;
}

.btnDiagnosis .badge {
	top:-9px;
	left:67px !important;
	z-index:1;
}

.dateTime {
	font-size:0.70em;
	text-align: right;
	padding-top:15px !important;
	padding-bottom:16px !important;
	padding-left:5px !important;
	padding-right:8px !important;
	width:162px !important;
	margin:0px !important;
}

.patientHeader .patientInfo h2 {
	margin-top:0px !important;
	margin-bottom:3px !important;
	font-size:0.8em !important;
	color:#777 !important;
}

.emptyRecordItem {
	background: #ffffff !important;
	padding:12px !important;
	border:1px solid #ccc;
 	color:#000;
 	font-weight: bold;
 	text-align: center !important;
}

.summaryBox .header { border-bottom:6px solid #7bc7c6; }
.summaryBox h1 {
	margin-top:5px;
	margin-bottom:5px;
	font-size:0.95em;
	text-indent: 10px !important;
}
.summaryBox .listItem {
	background: #ffffff !important;
	padding:12px !important;
	border:1px solid #ccc;
 	color:#777;
 	font-weight:bold;
}

.summaryBox .listItem:active:hover:not([disabled]){
	background: #9ddbd9 !important;
}

.medicalDrawerControl .listItem {
	background: #ffffff !important;
	border:1px solid #ccc;
	height:50px;
}

.summaryBox .firstButton {
	background: #ffffff !important;
	height:45px !important;
	padding:10px !important;
	border:1px solid #ccc;
	width:100%;
	font-style: italic;
	font-weight: bold;
	color:#777;
}

.summaryBox .firstButton:hover:active{
	background: #AFDEDD !important;
	color:#fff !important;
}

.demographicSummaryBox {
	background: #ffffff !important;
 	padding:10px !important;
	border:1px solid #ccc;
	min-height:90px;
}

.demographicSummaryBox:hover:active {
	background: #AFDEDD !important;
 	color:#fff !important;
}

.demographicSummaryBox h1.headerInfo {
	margin:0px !important;
	font-size:1em;
	width:100px;
	text-indent: 0px !important;
	font-weight:bold;
	height:25px;
}

.radioPharmaMiniHeader {
	background: #fff !important; 
	border-bottom:6px solid #999;
}

.orderHeader {
	background: #e6ecf1 !important; 
	border-bottom:6px solid #999;
}

.orderPagingHeader {
	background: #f5f5f5 !important;
	border:none !important;
	border-bottom:1px solid #ccc !important;
}

.orderPagingHeader h1 {
	color:#999 !important;
	padding-top:12px;
	padding-bottom:5px;
	padding-left:15px !important;
	padding-right:15px !important;
	font-size:1.0em !important;
	margin-bottom:0px !important;
}

.orderHeader h1 {
	padding-top:8px;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	font-size:1.0em !important;
}

.orderListContainer:last-child {
	border-bottom:1px solid #aaa;
}

.orderListItem {
	height:102px !important;
	background: #ffffff !important;
	border:1px solid #ccc;
 	color:#777;
}

.orderListItem .remark {
	height:102px !important;
	padding:10px !important;
	background: #fbfadf !important;
}

.orderListItem .remark h1 {
	font-size:1.0em;
	margin-top:0px !important;
	margin-bottom:5px !important;
}

.orderListItem .remark h2 {
	font-size:1.0em;
	margin-top:0px !important;
	margin-bottom:5px !important;
	color:#777;
	text-indent: 0px !important;
}

.orderRepeater {
	height:70px !important;
}

.orderRepeater h1 {
	padding-top:2px;
	padding-bottom:2px;
	padding-left:8px;
	padding-right:8px;
	margin-top:0px !important;
	margin-bottom:0px !important;
	font-size:1.0em !important;
}

.orderRepeater h2 {
	padding-top:2px;
	padding-bottom:2px;
	padding-left:8px;
	padding-right:8px;
	margin-top:0px !important;
	margin-bottom:0px !important;
	font-size:0.9em !important;
	color:#999;
	text-indent: 10px !important;
}

.orderRepeater h3 {
	padding-top:8px;
	padding-bottom:2px;
	padding-left:8px;
	padding-right:8px;
	margin-top:0px !important;
	margin-bottom:0px !important;
	font-size:0.9em !important;
}

textarea {
	font-family: 'Helvetica', 'Nimbus Sans L', Arial, sans-serif;
}

.appInputForm {
 	background: #a52025 !important;
 	color:#fff !important;
	padding:15px !important;
	height:50px !important;
	line-height: 18px !important;
	border:1px solid #c72c30 !important;
}

.appInputForm.onyx-disabled {
 	background: #eee !important;
 	color:#999 !important;
}

.appInputForm.onyx-disabled input {
 	color:#666 !important;
}


.onyx-input-decorator.appInputForm {
	border:none !important;
}

.onyx-input-decorator.appInputFormDateTime {
	border:none !important;	
	height:50px !important;
	padding:0px !important;

}

.appInputFormDateTime .onyx-input {
	margin:0px;
	border:none !important;
	height:50px !important;
	padding:5px 10px 5px 10px !important;
}

.appInputFormDateTime .appInputContainer {
	height:50px !important;
}

.appSimpleInputForm {
	background: #fff !important;
	padding:15px !important;
	height:25px !important;
	line-height: 18px !important;
	border:1px solid #aaa !important;
}

.appSimpleInputForm.errorDecorator {
	background: #FFD0D9 !important;
}

.onyx-disabled {
	opacity: 1 !important;
	background: #eee !important;
}

.opaque {
	opacity: 0 !important;
}

.appInputForm[disabled] {
	opacity: 1 !important;
	color:#222;
	background: #eee !important;
}

.onyx-disabled .onyx-input {
	opacity: 1 !important;
	background: none !important;
}

.readOnly {
	background: #fbfadf !important;
}

.popUpMenu.onyx-menu {
	-moz-border-radius: 0em !important;
	-webkit-border-radius: 0em !important;
	border-radius: 0em !important;
	margin-right:10px !important;
	min-height:41px !important;
	max-height: 205px !important;
	background: #fff !important;
	padding:0px !important;
	border:none !important;
}

.popUpMenu .onyx-menu-item {
	overflow:hidden !important;
	text-overflow:ellipsis !important;
	white-space:nowrap !important;
	min-height:21px !important;
	background: #fff !important;
	border:1px solid #ccc !important;
	color:#777;
	text-align: left !important;
}

.appInputDisplayForm {
	min-width:230px;
	margin-left:5px !important;
}

.appInputDisplayGradeForm {
	width:82px;
	margin-left:5px !important;	
}

.appInputDisplayGradeForm .onyx-input{
	width:50px;
}

.appInputUnit h1{
	font-size:1.0em !important;
	font-weight: bold !important;
	line-height:20px !important;
	margin-top:0px !important;
	margin-left:5px !important;
	margin-right:5px !important;
	margin-bottom:0px !important;
	color:#666;
}

.appInputUnit {
	background:#e2e2e2;
}

.appInputForm .onyx-input{
	margin-top:1px;
	border:none !important;
	font-size:1.0em;
	font-weight: bold;
	line-height:1.1em;
}

.appInputForm .onyx-input.selected{
	font-size:2em;
}

.listSelector {
	background: #ffffff !important;
	border-left:none !important;
	border-right:none !important;
	height:80px;
}

.listSelectorDrug {
	background: #ffffff !important;
	border-left:none !important;
	border-right:none !important;
	height:60px;	
}

.listSeachInput {
	background:#fff !important;
	padding:5px !important;
	border-bottom:1px solid #e2e2e2;
}

.searchRoundedCorner .appInputForm {
	-moz-border-radius-topleft: 0.9em !important;
	-webkit-border-top-left-radius: 0.9em !important;
	border-top-left-radius: 0.9em !important;
	-moz-border-radius-topright: 0.9em !important;
	-webkit-border-top-right-radius: 0.9em !important;
	border-top-right-radius: 0.9em !important;

	-moz-border-radius-bottomleft: 0.9em !important;
	-webkit-border-bottom-left-radius: 0.9em !important;
	border-bottom-left-radius: 0.9em !important;
	-moz-border-radius-bottomright: 0.9em !important;
	-webkit-border-bottom-right-radius: 0.9em !important;
	border-bottom-right-radius: 0.9em !important;
	height:35px !important;
	padding-top:5px !important;
	padding-left:8px !important;
	padding-right:8px !important;
	padding-bottom:5px !important;
}

.topFormRounded .appInputForm {
	-moz-border-radius-topleft: 0.9em !important;
	-webkit-border-top-left-radius: 0.9em !important;
	border-top-left-radius: 0.9em !important;
	-moz-border-radius-topright: 0.9em !important;
	-webkit-border-top-right-radius: 0.9em !important;
	border-top-right-radius: 0.9em !important;

	-moz-border-radius-bottomleft: 0em !important;
	-webkit-border-bottom-left-radius: 0em !important;
	border-bottom-left-radius: 0em !important;
	-moz-border-radius-bottomright: 0em !important;
	-webkit-border-bottom-right-radius: 0em !important;
	border-bottom-right-radius: 0em !important;
	padding:15px !important;
}

.bottomFormRounded .appInputForm {
	-moz-border-radius-topleft: 0em !important;
	-webkit-border-top-left-radius: 0em !important;
	border-top-left-radius: 0em !important;
	-moz-border-radius-topright: 0em !important;
	-webkit-border-top-right-radius: 0em !important;
	border-top-right-radius: 0em !important;

	-moz-border-radius-bottomleft: 0.9em !important;
	-webkit-border-bottom-left-radius: 0.9em !important;
	border-bottom-left-radius: 0.9em !important;
	-moz-border-radius-bottomright: 0.9em !important;
	-webkit-border-bottom-right-radius: 0.9em !important;
	border-bottom-right-radius: 0.9em !important;
	padding:15px !important;
}

.formDecoratorButton {
	color:#999 !important;
 	padding-top:2px !important;
 	padding-bottom:2px !important;
 	padding-left:3px !important;
 	padding-right:3px !important;
 	margin-top:0px !important;
 	line-height:18px !important;
 	width:22px !important;
 	height:22px !important;
 	background: none !important;
 	border:none !important;
 } 

h1.disclaimer {
	margin:0px !important;
	font-size:1.1em;
	font-weight: bold;
	color:#ffffff;
}

.errorDecorator {
	/*background: #FFE3E3 !important;*/
 	color:#CC0000 !important;
}

.errorDecorator button {
	color:#CC0000 !important;
}

.errorDecorator input {
	color:#CC0000 !important;
	/*background: #FFE3E3 !important;*/
}

.errorDecorator input::-webkit-input-placeholder,.errorDecorator textarea::-webkit-input-placeholder {
  color: #CC0000;
 }
 
.errorDecorator input::-moz-input-placeholder, .errorDecorator textarea::-moz-input-placeholder {
  color: #CC0000;
 }

.errorDecorator input:-ms-input-placeholder,.errorDecorator textarea:-ms-input-placeholder {
  color: #CC0000;
 }

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	font-weight: 600;
	font-style:italic;
}
input::-moz-input-placeholder,textarea::-moz-input-placeholder {
	font-weight: 600;
	font-style:italic;
}

input:-ms-input-placeholder {
	color: #bbb !important;
	font-style:italic;
}

textarea:-ms-input-placeholder {
	color: #bbb !important;
	font-style:italic;	
}

textarea{
	font-weight: bold;
}

.std45px {
	height:45px;
	margin:0px !important;
	padding:0px !important;
}

.addressSelector {
	padding-top:80px !important;
}

a[href^=tel]{
    color:#777 !important;
    text-decoration:none;
}

a[href^=tel]:hover{
    color:#e2944a !important;
    text-decoration:none;
}

a[href^=tel]:active{
    color:#e2944a !important;
    text-decoration:none;
}

.appIcons {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
}

.appIcons.big {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 792px 66px !important;
	width:30px !important;
	height:30px !important;
	margin:9px !important;
}

.appIcons.bigger {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
	width:20px !important;
	height:20px !important;
	border:1px solid red;
	margin:5px !important;
}

.appIcons.arrow-r {
	background-position: -400px -20px !important;
	width:20px !important;
	height:20px !important;
}

.appIcons.drawerOpen {
	background-position: -420px -20px !important;
	width:20px !important;
	height:20px !important;
}

.appIcons.drawerClose {
	background-position: -440px -20px !important;
	width:20px !important;
	height:20px !important;
}

.appIcons.big.redIndicatorBullet {
	background-position: -726px 0px !important;
 }

.appIcons.big.greenIndicatorBullet {
	background-position: -693px 0px !important;
}

.appIcons.big.orangeIndicatorBullet {
	background-position: -495px -33px !important;
 }

.blueTaperup {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
	width:20px !important;
	height:20px !important;
 	margin:5px !important;
	background-position: -120px -20px !important;
}

button:disabled .blueTaperup {
	background-position: -100px -20px !important;
}

.blueTaperdown {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
	width:20px !important;
	height:20px !important;
 	margin:5px !important;
	background-position: -120px 0px !important;
}

button:disabled .blueTaperdown {
	background-position: -140px -20px !important;
}

.blueAddToFav {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
	width:20px !important;
	height:20px !important;
 	margin:5px !important;
	background-position: -80px 0px !important;
}

.blueDelete {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
	width:20px !important;
	height:20px !important;
 	margin:5px !important;
	background-position: -240px 0px !important;
}

button:disabled .blueDelete {
	background-position: -40px -20px !important;
}


.blueEdit {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
	width:20px !important;
	height:20px !important;
 	margin:5px !important;
	background-position: -160px 0px !important;
}

button:disabled .blueEdit {
	background-position: -160px -20px !important;
}

.blueRenew {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
	width:20px !important;
	height:20px !important;
 	margin:5px !important;
	background-position: -180px 0px !important;
}

button:disabled .blueRenew {
	background-position: -280px -20px !important;
}

.blueDrug {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
	width:20px !important;
	height:20px !important;
 	margin:5px !important;
	background-position: -100px 0px !important;
}

.bluePlay {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
	width:20px !important;
	height:20px !important;
 	margin:5px !important;
	background-position: -180px -20px !important;
}

.blueHold {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
	width:20px !important;
	height:20px !important;
 	margin:5px !important;
	background-position: -220px 0px !important;
}

button:disabled .blueHold {
	background-position: -360px 0px !important;
}

.blueCancel {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
	width:20px !important;
	height:20px !important;
 	margin:5px !important;
	background-position: -200px 0px !important;
}

button:disabled .blueCancel {
	background-position: -200px -20px !important;
}

.blueStop {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
	width:20px !important;
	height:20px !important;
 	margin:5px !important;
	background-position: -220px -20px !important;
}

button:disabled .blueStop {
	background-position: -380px -20px !important;
}

.blueNote {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
	width:20px !important;
	height:20px !important;
 	margin:5px !important;
	background-position: -240px -20px !important;
}

.blueCalc {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
	width:20px !important;
	height:20px !important;
 	margin:5px !important;
	background-position: -360px -20px !important;
}

.bluePlus {
	background:url('../img/allIcons.png') no-repeat !important;
	background-size: 480px 40px !important;	
	width:20px !important;
	height:20px !important;
 	margin:5px !important;
 	background-position: -260px -20px !important;
}

.cdIcons {
	margin-top:-3px;
	background:url('../img/allCDIconExpansionPack.png') no-repeat !important;
	background-size: 540px 72px !important;
	opacity: 0.6;
	margin-right:12px;
	width:36px !important;
	height:36px !important;
}

.cdIcons.preAssessment {
	background-position: 0px 0px !important;		
} 

.cdIcons.clinicalDoc {
	background-position: -36px 0px !important;		
}

.cdIcons.chart {
	background-position: -72px 0px !important;	
}

.cdIcons.clinicalPath {
	background-position: -108px 0px !important;	
}

.cdIcons.allergyRisk {
	background-position: -144px 0px !important;	
}



small.disclaimer { font-weight: bold !important;color:#ffffff !important; margin-bottom:5px !important; }
.whiteLabel {
	font-weight: bold !important;
	color:#ffffff !important;
	margin-bottom:5px !important;
} 

.whitelink {
	text-shadow: 0px -2px 2px rgba(0,0,0,.3) !important;
	color:#fff;
	text-decoration: none;
	font-weight: 600;
}

.item .imageContainer {
	width:20% !important;
	height:80px;
	overflow:hidden;
}

.item .infoContainer {
 	width:80% !important;
	height:80px;
}

.item .infoContainerDrug {
	width: 100%;
	height:50px;
	padding:5px !important;
} 

.item h1 {
	padding-top:6px !important;
	padding-left:8px !important;
	padding-right:8px !important;
	padding-bottom:0px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	font-size:0.95em !important;
	color:#444;
}
.item h2 {
	padding-top:2px !important;
	padding-left:8px !important;
	padding-right:8px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	font-size:0.95em !important;
	color:#999;
}

.item i {
	margin-top:6px !important;
	color:gold;
}

.item .infoButton {
	font-weight:bold;
	padding:2px !important;
	width:56px !important;
	height:26px !important;
	background: #000 !important;
	color:#fff !important;
	margin-left:8px !important;
}

.menuItemButton {
	height:45px;
	color:#777;
	width: 100%;
	padding:12px 12px 12px 12px;
	text-align: left !important;
	background: #ffffff;
	font-weight: bold;
	border:none !important;
	border-bottom:1px solid #ccc !important;
 }

 .menuItemButton h1 {
 	font-size:1em !important;
 	margin:0px !important;
 }

.menuItemButton:last-child {
	border:none !important;
}

.menuItemButton:active:hover:not([disabled]){
	background:#9ddbd9 !important;
 	color:#ffffff !important;
}

.menuItemButton[disabled] {
	background: #f9f9f9 !important;
	color:#ccc !important;
}

.menuItemButton.active {
	background:#9ddbd9 !important;
 	color:#ffffff !important;
}

.menuItemList[disabled] {
	background: #f9f9f9 !important;
	color:#ccc !important;
}

.menuItemList:[disabled] h1{
 	background:#73CCCA !important;
 	color:#ffffff !important;
}

.menuItemList {
	height:30px !important;
	background: #fff !important;
 	width:100%;
	text-align:left;
	padding:8px 12px 8px 12px;
 }

.menuItemList.selected {
	background: #cc3333 !important;
	color:#fff !important;
}

.menuItemList.selected h1 {
	background: #cc3333 !important;
	color:#fff !important;
}


.menuItemList:active:hover:not([disabled]) h1{
 	background:#cc3333 !important;
 	color:#ffffff !important;
}

.breadCrumb1 {
	background:#000;
	color:#fff;
	line-height:35px;
	padding:10px;
	font-size:1.0em;
	width:85px;
	height:50px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.breadCrumb2 {
	background: #a52025;
	color:#fff;
	line-height:35px;
	padding:10px;
	font-size:1.0em;
	width:285px;
	height:50px;
	text-indent: 5px;
	font-weight: bold;
}

.logoPadding {
	margin:0px !important;
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:10px;
}

.menuItemList:active:hover:not([disabled]){
 	background:#cc3333 !important;
 	color:#ffffff !important;
}

.menuItemList h1{
 	margin:0px !important;
 	padding-top:3px !important;
 	line-height: 25px !important;
 	font-size:1.0em !important;
 	color:#333;
 }

 .menuItemRepeater {
 	height:45px !important;
	background: #fff !important;
 	width:100%;
	text-align:left;
 }

 .menuItemRepeater h1{
 	margin:0px;
 	padding-top:12px;
 	padding-bottom:12px;
 	font-size:0.95em;
 	color:#777;
 }

 .menuItemRepeater h1:first-child{
 	text-indent: 10px !important;
 }

 .menuItemRepeater:active:hover:not([disabled]){
 	background:#73CCCA !important;
 	color:#ffffff !important; 	
 }

 .menuItemRepeater:active:hover:not([disabled]) h1{
 	color:#fff;
}

.leftright-10px {
	padding-left:10px;
	padding-right:10px;
}

.toolBarHeader {
 	font-size: 1em;
 	line-height: 2em;
 	text-align:center;
 	text-indent: 90px; 
 }

 p.instruction {
	color:#ffffff !important;
	font-weight:500;
	font-size:0.8em;
	margin-left:10px !important;
	margin-right:10px !important;
	margin-top:2px !important;
	margin-bottom:8px !important;
}

.columnBox {
	width:440px !important;
	border-top:6px solid #7bc7c6;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin-left:5px;
	margin-right:5px;
}

.columnBox .itemDemographic {
	padding:12px;
	border-bottom:1px solid #ccc;
}

.columnBox .itemDemographic h1 {
	font-size:1em;
	font-weight: bold;
	margin:0px;
	color:#000 !important;
	width:115px !important;
}

.columnBox .itemDemographic h2 {
	font-size:0.95em;
	line-height:20px !important;
	margin:0px;
	width:300px;
	font-weight: 500;
	color:#777;
}


h1.formLabelHeader {
	font-size:0.8em;
	text-indent: 5px;
	font-weight: 600;
	text-transform: uppercase;
	color:#ddd;
	margin-top:7px !important;
	margin-bottom:7px !important;
}

h1.formLabelHeaderInnerSet {
	font-size:0.9em;
 	font-weight: bold;
	text-transform: uppercase;
	color:#050505;
	margin-top:7px !important;
	margin-bottom:7px !important;
}

.drawerBg {
	background-color:#f2f2f2;
}

.stdPHDListItem {
	height:60px;
	padding:15px;
	text-transform:uppercase;
	color:#666;
	background-color:#fff;
	border-bottom:1px solid #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e6e7e9 ), to( #fff )) !important;
	background-image: -webkit-linear-gradient( #e6e7e9 , #fff )  !important; 
	background-image:    -moz-linear-gradient( #e6e7e9 , #fff )  !important; 
	background-image:     -ms-linear-gradient( #e6e7e9 , #fff )  !important; 
	background-image:      -o-linear-gradient( #e6e7e9 , #fff )  !important; 
	background-image:         linear-gradient( #e6e7e9 , #fff )  !important;
	font-weight: bold;
	font-size:0.9em;
	overflow:hidden;
}

.whiteItem {
	text-transform:none !important;
	color:#666 !important;
	background-color:#fff;
	border-bottom:1px solid #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e6e7e9 ), to( #fff )) !important;
	background-image: -webkit-linear-gradient( #e6e7e9 , #fff )  !important; 
	background-image:    -moz-linear-gradient( #e6e7e9 , #fff )  !important; 
	background-image:     -ms-linear-gradient( #e6e7e9 , #fff )  !important; 
	background-image:      -o-linear-gradient( #e6e7e9 , #fff )  !important; 
	background-image:         linear-gradient( #e6e7e9 , #fff )  !important;
}

select option {
	color:#000000 !important;
	font-weight: 600;
	font-size:1em !important;
}

.pushstate-spinner {
	opacity: 0;
	display: inline-block;
	margin-top: 4px;
	margin-left: 2px;
	height: 40px;
	width: 40px;
	vertical-align: top;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	transform: scale(0);
}

@-webkit-keyframes appear {
  0%   { opacity: 0;-webkit-transform: scale(0); }
  100% { opacity: 1;-webkit-transform: scale(1); }
}
@-moz-keyframes appear {
  0%   { opacity: 0;-moz-transform: scale(0); }
  100% { opacity: 1;-moz-transform: scale(1); }
}
@keyframes appear {

  0%   { opacity: 0;transform: scale(0); }
  100% { opacity: 1;transform: scale(1); }
}

.animate-this {
	-webkit-animation: appear 0.6s; /* Safari 4+ */
  	-moz-animation:    appear 0.6s; /* Fx 5+ */
  	animation:         appear 0.6s; /* IE 10+ */
  	-webkit-animation-fill-mode: forwards;
  	-moz-animation-fill-mode: forwards;
  	animation-fill-mode: forwards;
}

.addressListBox {
	height:100px;
	border-bottom:1px solid #333;
}

.instructionPadding {
	padding-left:8px;
	padding-right:8px;
}

.addressListItem {
	padding-top:10px;
	padding-right:15px;
	padding-left:15px;
	padding-bottom:15px;
	height:75px;
	font-size:0.98em;
	background:#000000;
	color:#ffffff;
	font-weight: 600;
 }

.smallCaption {
	font-size:0.95em;
	padding:5px 5px 5px 8px;
	font-weight:normal;
	height:38px;
}

.staticHeaderCaption {
	height:40px;
	padding:14px 5px 10px 5px;
	font-weight:bold;
}

.drawerItem {
	margin-top:2px;
	min-height:48px;
}

.drawerLine {
	border-bottom:1px solid #ccc !important;
}

.drawerLine.active {
	background:#66cccc !important;

}

.drawerLine.active h1{
	color:#ffffff !important;
	text-shadow: none !important;
}

.drawerLine.active h2{
	color:#ffffff !important;
	text-shadow: none !important;	
}

.orderMenuContainer {
	width:450px;	
}

/*** Media sensitive CSS ***/
.specialCorner {
	-moz-border-radius-bottomright: 0.6em !important;
	-webkit-border-bottom-right-radius: 0.6em !important;
	border-bottom-right-radius: 0.6em !important;
	-moz-border-radius-topright: 0.6em !important;
	-webkit-border-top-right-radius: 0.6em !important;
	border-top-right-radius: 0.6em !important;
}

.beltNav {
	height:10px;
	background: #000;
}

.onyx-progress-bar {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #000000 ), to( #320100 )) !important;
	background-image: -webkit-linear-gradient( #000000 , #320100 )  !important; 
	background-image:    -moz-linear-gradient( #000000 , #320100 )  !important; 
	background-image:     -ms-linear-gradient( #000000 , #320100 )  !important;  
	background-image:      -o-linear-gradient( #000000 , #320100 )  !important; 
	background-image:         linear-gradient( #000000 , #320100 )  !important;
	border:1px solid #570005 !important;
} 

.staticBadge {
	color:#fff;
	font-weight:bold;
	margin-top:12px;
	text-align: center !important;
	background:#9cb4c2  !important;
	-webkit-border-radius:13px !important;
	-moz-border-radius:13px !important;
	border-radius:13px !important;
	font-size:0.9em;
	line-height:20px !important;
	padding:2px !important;
	width:20px;
	height:20px;
}

.badge {
	color:#fff;
	font-weight:bold;
	background:red !important;
	position:absolute !important;
	top:10px;
	left:27px !important;
	-webkit-border-radius:13px !important;
	-moz-border-radius:13px !important;
	border-radius:13px !important;
	font-size:0.8em;
	line-height:20px !important;
	padding:2px !important;
	width:20px;
	height:20px;
}

.blueDivider {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3366CC ), to( #2850A2 )) !important; 
	background-image: -webkit-linear-gradient( #3366CC , #2850A2 ) !important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #3366CC , #2850A2 ) !important; /* FF3.6 */
	background-image:     -ms-linear-gradient( #3366CC , #2850A2 ) !important; /* IE10 */
	background-image:      -o-linear-gradient( #3366CC , #2850A2 ) !important; /* Opera 11.10+ */
	background-image:         linear-gradient( #3366CC , #2850A2 ) !important;
	color:#fff !important;
	font-weight:bold !important;
}

.blueZone {
	color:#2850A2 !important;
}

.blueBg {
	background:#e7ecf2;
}

.redDivider {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #CC0000 ), to( #990000 )) !important; 
	background-image: -webkit-linear-gradient( #CC0000 , #990000 ) !important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #CC0000 , #990000 ) !important; /* FF3.6 */
	background-image:     -ms-linear-gradient( #CC0000 , #990000 ) !important; /* IE10 */
	background-image:      -o-linear-gradient( #CC0000 , #990000 ) !important; /* Opera 11.10+ */
	background-image:         linear-gradient( #CC0000 , #990000 ) !important;
	color:#fff !important;
	font-weight:bold !important;
}

.redZone {
	color:#990000 !important;
}

.yellowDivider {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFCC33 ), to( #FF9900 )) !important; 
	background-image: -webkit-linear-gradient( #FFCC33 , #FF9900 ) !important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFCC33 , #FF9900 ) !important; /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFCC33 , #FF9900 ) !important; /* IE10 */
	background-image:      -o-linear-gradient( #FFCC33 , #FF9900 ) !important; /* Opera 11.10+ */
	background-image:         linear-gradient( #FFCC33 , #FF9900 ) !important;
	color:#fff !important;
	font-weight:bold !important;
}

.yellowZone {
	color:#FF9900 !important;
}

.greenDivider {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #33CC00 ), to( #006600 )) !important; 
	background-image: -webkit-linear-gradient( #33CC00 , #006600 ) !important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #33CC00 , #006600 ) !important; /* FF3.6 */
	background-image:     -ms-linear-gradient( #33CC00 , #006600 ) !important; /* IE10 */
	background-image:      -o-linear-gradient( #33CC00 , #006600 ) !important; /* Opera 11.10+ */
	background-image:         linear-gradient( #33CC00 , #006600 ) !important;
	color:#fff !important;
	font-weight:bold !important;
}

.greenZone {
	color:#006600 !important;
}

.blackDivider {
	background:#000 !important; 
	color:#fff !important;
	font-weight:bold !important;
}

.indent10px {
	text-indent: 10px !important;
}

.searchPNFormBox {
	border-bottom:1px solid #ccc;
}


/**************** Media Related *******************************/
@media all and (min-width:1000px) {
	.menuDiv {
		margin-top:30px !important;
		width:720px;
		/*background: pink !important;*/
 		height:200px;
		text-align: center !important;
	}
}

@media all and (min-width:200px) {
	.floatingMenuDiv {
		width:300px;
	}

	.headerFloatingMenuText {
		color:#777;
		text-shadow: 0px -1px 1px rgba(255,255,255,.3) !important;
		margin:10px !important;
		font-size:1.0em !important;
	}
}


@media all and (min-width:1000px) {
	.floatingMenuDiv {
		width:650px;
	}

	.headerFloatingMenuText {
		color:#777;
		text-shadow: 0px -1px 1px rgba(255,255,255,.3) !important;
		margin:10px !important;
		font-size:1.0em !important;
	}
}

@media all and (min-width:1000px){
	.floatingMenu{
		overflow:hidden !important;
		background:#fff !important;
        padding:0px !important;
		-webkit-border-radius:10px !important;
		-moz-border-radius:10px !important;
		border-radius:10px !important;
		font-weight:bold;
		-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
		-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
	}
}